[submodule "uns"]
	path = uns
	url = git@github.com:pylover/esp8266-unslib.git
[submodule "httpd"]
	path = httpd
	url = git@github.com:pylover/esp8266-httpserver.git
[submodule "ringbuffer"]
	path = ringbuffer
	url = git@github.com:pylover/esp8266-ringbuffer.git
[submodule "debug"]
	path = debug
	url = git@github.com:pylover/esp8266-debug.git
